<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>search-interface</title>
  <script src="dist/js/main.js" defer async></script>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<app>
  <div class="input">
    <input class="input_name" type="text" placeholder="e.g. Batman" name="search-input" autofocus>
    <button class="search_button">Искать</button>
  </div>
  <div class="search-result"></div>
</app>

<script type="text/template" id="result-template">
  <img src="<%= Poster %>" alt="poster" class="poster">
  <div class="title"><%= Title %></div>
  <div class="year"><%= Year %></div>
</script>
</body>
</html>
